apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: patient-data-pvc
  labels:
    app: patient-management
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard